{% extends 'DarlesForumBundle::layout.html.twig' %}
{% block title %}{{ 'forum.main.title'|trans }}{% endblock %}
{% block content %}
    <div class="forum forum_index">
        <ul class="crumbs">
            <li>{{ 'forum.main.title'|trans }}</li>
        </ul>
        <div class="side categories">
            <h2>{{ 'forum.main.categories'|trans }}</h2>
            {% include 'DarlesForumBundle:Category:list.html.twig' %}
        </div>
    </div>
{% endblock %}