{% block content %}
    <div class="main">
        <h2>New Topic</h2>

        <form action="{{ path('darles_forum_category_topic_create', {'slug': category.slug}) }}" method="post">
            {{ form_widget(form) }}
            <button type="submit" name="create">{{ 'forum.topic.create_button' }}</button>
        </form>
    </div>
{% endblock %}
